<!DOCTYPE html>
<html lang="en">
<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <title>Fantasy Masters - 2019</title>
</head>
<style>
tr.collapse.in {
  display:table-row;
}

.score{
text-align:center;
}


</style>

<body>
<div id="Standings Timestamp">
    <h1 class="display-2"> Fantasy PGA Championship 2020</h1>
    <h3>Standings as of: {{ pga_extractor.results_timestamp.strftime('%a %I:%M%p') }}</h3></div>
<div>
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Golfer</th>
            <th>Status</th>
            <th> Total</th>
            <th>Thru/Next Tee</th>
            <th class="score">Round 1</th>
            <th class="score">Round 2</th>
            <th class="score">Round 3</th>
            <th class="score">Round 4</th>
        </tr>
        </thead>
        <tbody>
        {% for team in comp.standings %}
        <tr data-toggle="collapse" data-target=".{{ team.name }}" class="table-primary">
            <th>{{ team.name }}</th>
            <th>Total Score:</th>
            <th>{{ team.add_plus(team.score) }}</th>
            <th>Daily Totals</th>
            {% for day in team.get_score_with_defaults()[2] %}
            <th class="score">{{ team.add_plus(day) }}</th>
            {% endfor %}
        </tr>
        {% for player in team.get_score_with_defaults()[1] %}
        <tr class="collapse {{ team.name }}">
            <td class>{{ player[0].first_name }} {{ player[0].last_name }}</td>
            <td>{{ player[0].status.capitalize() }}</td>
            <td>{{ team.add_plus(player[0].get_score_or_default()[0]) }}</td>
            <td>{{ player[0].get_today() }}</td>
            {% for round in player[1:] %}
            <td class="score {{ 'table-warning' if round['counted'] and not round['is_penalty'] else '' }}{{ 'table-danger' if round['counted'] and round['is_penalty'] else '' }}">
                {{ round['undef_str'] }} {{ '(' ~ round['score_str'] ~ ')' if round['undefaulted'] is string else '' }}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>