<!DOCTYPE html>
<html lang="en">
<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <title>Fantasy Golf</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/browserconfig.xml">
    <meta name="theme-color" content="#b8daff">
</head>
<style>
tr.collapse.in {
  display:table-row;
}

.score{
text-align:center;
}

td{
text-align:center;
}

th{
text-align:center;
}

.right{
text-align:right;
}

.left{
text-align:left;
width:20%;
}






</style>

<body>
<div id="Standings Timestamp">
    <h1 class="display-2">PGA Championship 2020</h1>
    <h3>Standings as of: {{ pga_extractor.results_timestamp.strftime('%a %I:%M%p') }}</h3></div>
<div>
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th class="left">Golfer</th>
            <th>Position</th>
            <th>Status</th>
            <th>Next Tee</th>
            <th>Total</th>
            <th>Thru</th>
            <th class="score">R1</th>
            <th class="score">R2</th>
            <th class="score">R3</th>
            <th class="score">R4</th>
        </tr>
        </thead>
        <tbody>
        {% for team in comp.standings %}
        <tr data-toggle="collapse" data-target=".{{ team.name }}" class="table-primary">
            <th class="left">{{ team.name }}</th>
            <th>{{ team.position }}</th>
            <th></th>
            <th></th>
            <th>{{ team.add_plus(team.score) }}</th>
            <th>{{ team.get_pct_complete_str() }}</th>
            {% for day in team.get_score_with_defaults()[2] %}
            <th class="score">{{ team.add_plus(day) }}</th>
            {% endfor %}
        </tr>
        {% for player in team.get_score_with_defaults()[1] %}
        <tr class="collapse {{ team.name }}">
            <td class="left">{{ player[0].first_name }} {{ player[0].last_name }}</td>
            <td class="score">{{ player[0].position }}</td>
            <td>{{ player[0].status.capitalize() }}</td>
            <td>{{ player[0].get_next_tee_time() }}</td>
            <td>{{ team.add_plus(player[0].get_score_or_default()[0]) }}</td>
            <td>{{ player[0].get_today() }}</td>
            {% for round in player[1:] %}
            <td class="score {{ 'table-warning' if round['counted'] and not round['is_penalty'] else '' }}{{ 'table-danger' if round['counted'] and round['is_penalty'] else '' }}">
                {{ round['undef_str'] }} {{ '(' ~ round['score_str'] ~ ')' if round['undefaulted'] is string else '' }}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>